<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新闻详情</title>
  <style>
    h1{
      margin-top: -150px;
      margin-left: 350px;
    }
    .first{
      margin-left: 200px;
    }
    .first p{
      margin-left: -150px;
    }
  </style>
</head>
<body>
  <img src="http://r.photo.store.qq.com/psc?/V10dFOfT2Jfiu7/OErzpq5D9LJxW5knQIpOPnhCixBx9DxuO6JuolmbDOnKNGj*Vo*8QRLLs9jub7rm3ZOUA.O0Hjzm1R9OfNXwDe5WA3vkOzTLMJhiIkEJJgE!/r">
  <h1>联播+丨七个关键词读懂这次重要会议的重大部署</h1>
  <div class="first">
  <img src="http://r.photo.store.qq.com/psc?/V10dFOfT3KHq1h/OErzpq5D9LJxW5knQIpOPorVcLI4h6b2*tujOEm*ztUtanS5HnElaVeABAN498CTaeoP2GG6A0rEdQnOBqp53U5Ni0AXeqRXkNY3wloNjN4!/r">
  <p>联播+2月21日，中共中央政治局召开会议，习近平总书记主持会议。会议强调，目前疫情蔓延势头得到初步遏制，防控工作取得阶段性成效。同时，要清醒看到，全国疫情发展拐点尚未到来，湖北省和武汉市防控形势依然严峻复杂。</p>
  <p>根据当前疫情形势，会议研究了新冠肺炎疫情防控工作，并对统筹做好疫情防控和经济社会发展工作作出具体部署。央视网《联播+》特提炼出七个关键词，对这次会议的重大部署进行梳理。</p>
  <p>（中央广播电视总台央视网）
    编辑：孙洁责任编辑：王敬东</p>
  </div>
</body>
</html>